.background {
  height: 100vh;
  /* background-image: url('https://picsum.photos/id/1061/2550/1440');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(rgba(159, 46, 46, 0.75), rgba(249, 249, 249, 0.75)), url('https://picsum.photos/id/1061/2550/1440') center no-repeat;
  position: relative;
  margin-bottom: 50px;
}

.center-block {
  /* border: 3px dashed #f33; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.center-block button {
  width: 200px;
  height: 50px;
  background-color: #f33;
  color: #fff;
  border: 2px solid #fff;
  text-transform: capitalize;
  font-size: 24px;
  cursor: pointer;
}

.center-block button:hover,
.center-block a:hover {
  background-color: #fff;
  color: #f33;
  border: 2px solid #f33;
}

.center-block a {
  text-decoration: none;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  background-color: #f33;
  border: 2px solid #fff;
  /* width: 200px;
  height: 50px;
  line-height: 50px;
  display: inline-block; */
  padding: 5px 30px;
}

header {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.homepage header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.about header,
.contact header {
  background-color: #b3b3b3;
}

.navigation a {
  font-size: 24px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 25px;
  transition: color 400ms;
}

.about .navigation a,
.contact .navigation a {
  color: #000;
}

.navigation a:hover {
  color: #f33;
}

.homepage .navigation a {
  color: #fff;
}

.middle-content {
  height: 200px;
  line-height: 200px;
  background-color: #b3b3b3;
}

footer {
  height: 200px;
  background-color: #000;
  text-align: center;
  line-height: 200px;
}

footer a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  margin: 20px;
}

footer a::before {
  content: '\0040';
}

.top-section {
  margin-bottom: 75px;
}

.top-section img {
  float: left;
  margin-right: 15px;
}

.middle-section img {
  float:right;
  margin-left: 15px;
}